<div id="plot-pauvrete-apl" style="display:flex;justify-content:center;"></div>

<script type="module" client:load>
    import { renderPauvreteAPL } from "/scripts/pauvrete-apl.js";
    renderPauvreteAPL("plot-pauvrete-apl");
</script>
