---
const { options } = Astro.props;
const optionsJSON = JSON.stringify(options);
const id = `plot-${Math.random().toString(36).slice(2)}`; // id unique
---

<div id={id}></div>

<script type="module" client:load>
    import { renderPlot } from "/scripts/renderPlot.js";

    const options = JSON.parse({ optionsJSON });
    renderPlot("{id}", options);
</script>
